{% extends 'base.html' %}
{% load static %}

{% block content %}
    <a href="{% url 'home:user_logout' %}" class="" style="margin-top: 500px; text-decoration: none; font-size: x-large; font-weight: bold; color: #7b157a;">SAIR</a>
    
    <div class="apps-container">
        <div class="app-card">
            <a href="{% url 'estoque:display_products' %}" class="app-title">ESTOQUE</a>
            <p class="app-description">
                Aqui você poderá gerenciar os produtos do estoque, incluindo adição, edição e exclusão de itens.
            </p>
        </div>
        <div class="app-card">
            <a href="" class="app-title">CATEGORIAS</a>
            <p class="app-description">
                Aqui você poderá gerenciar os produtos do estoque, incluindo adição, edição e exclusão de itens.
            </p>
        </div>
        <div class="app-card">
            <a href="" class="app-title">FUNCIONÁRIOS</a>
            <p class="app-description">
                Aqui você poderá gerenciar os produtos do estoque, incluindo adição, edição e exclusão de itens.
            </p>
        </div>
    </div>

{% endblock %}