{% extends 'base.html' %}
{% load static %}

{% block content %}
<button onclick="history.back()" class="back-btn">Voltar</button>
<section class="products-section">
    <h2 class="section-title">Vendas Lançadas</h2>

    <div class="actions-top">
        <a href="{% url 'vendas:create_venda' %}" class="btn create-btn">+ Lançar Nova Venda</a>
    </div>

    <form method="get" action="" class="search-form">
        <input type="text" name="q" placeholder="Buscar por nome..." value="{{ request.GET.q }}" class="search-input">
        <button type="submit" class="search-button">Buscar</button>
    </form>

    <div class="products-grid">
        {% for sale in sales %}
            <div class="product-card">
                <h3 class="product-name">{{ sale.product }}</h3>
                <p class="product-description">{{ sale.sale_date }} | Valor: {{ sale.value }}</p>
            </div>
        {% empty %}
            <p class="no-products">Nenhuma venda lançada.</p>
        {% endfor %}
    </div>
</section>
{% endblock %}